.filterBy-label {
  display: inline-block;
}

.searchForm {
  display: inline-block;
}

.sortBy-label {
  display: inline-block;
}

.artwork {
  display: inline-block;
}

.btn[class*="btn-outline-"] {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pagination .page-item.active .page-link {
  background-color: #4285f4 !important;
}